# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.db
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/
.env
.env.*

# Django migrations
backend/core/migrations/
!**/migrations/__init__.py

# PostgreSQL dumps
*.pgsql
*.sql
*.dump

# Virtualenv
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
*.pid
*.seed
*.pid.lock
docker-compose.override.yml
__docker_volume__/

# OS
.DS_Store
Thumbs.db

# Test coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build artifacts
build/
dist/
*.manifest
*.spec

# Pip
pip-log.txt
pip-delete-this-directory.txt
