# Django
SECRET_KEY=<your secret key>
DEBUG=True
ALLOWED_HOSTS=api,localhost,127.0.0.1

# PostgreSQL
POSTGRES_DB=maxiclean
POSTGRES_USER=MCadmin
POSTGRES_PASSWORD=MCpass
POSTGRES_HOST=db
POSTGRES_PORT=5432
