@import './Style/Mixins.scss';

body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: #F6F6F6;
  max-width: 1500px;

  @include responsive-padding;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}