.header {
  padding: 15px 0;
  position: relative;
  z-index: 10;
  align-items: center;

  &__container {
    margin: 0 auto;  
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  &__logo img {
    height: 40px;
  }

  /* DESKTOP NAV — ПО ЦЕНТРУ */
  &__nav-desktop {
    display: flex;
    justify-content: center;
    gap: 25px;

    @media (max-width: 1070px) {
      display: none;
    }
  }

  .header__link {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #1b1b1b;
    position: relative;
    padding-bottom: 5px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: #0050ff;
      transition: width 0.3s ease;
    }

    &:hover::after,
    &.active::after {
      width: 100%;
    }

    &:hover,
    &.active {
      color: #0050ff;
    }
  }

  /* PHONE */
  &__contact {
    justify-self: end;

    @media (max-width: 1070px) {
      display: none;
    }

    .header__phone {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: bold;
      color: #0050ff;
      text-decoration: none;
    }
  }

  /* BURGER — СПРАВА */
  &__burger {
    display: none;
    justify-self: end;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;

    span {
      height: 2px;
      width: 100%;
      background: #1b1b1b;
      transition: 0.3s;
    }

    &.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    &.active span:nth-child(2) {
      opacity: 0;
    }
    &.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }

    @media (max-width: 1070px) {
      display: flex;
    }
  }
}

/* ===== MOBILE MENU ===== */

.mobile-menu {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.45);

  &__card {
    width: 100%;
    height: 100vh;

    background: #fff;
    border-radius: 16px;

    padding: 20px 18px;

    display: flex;
    flex-direction: column;
  }

  /* ===== HEADER ===== */
  &__header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
  }

  &__logo {
    display: flex;
    flex-direction: column;

    img {
      width: 120px;
    }
  }


  /* ===== NAV ===== */
  &__nav {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    a {
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      color: #1b1b1b;

      &.active {
        color: #0050ff;
        text-decoration: underline;
      }
    }
  }

  /* ===== FOOTER ===== */
  &__footer {
    margin-top: auto;
    padding: 30px 0 50px 0;

    border-top: 1px solid #e5e5e5;

    display: flex;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      gap: 6px;

      font-weight: bold;
      color: #0050ff;
      text-decoration: none;

      img {
        width: 18px;
      }
    }
  }
}
