
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .feature-card {
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 120px;
    height: 120px;

    p {
      margin: -5px;
      font-size: 14px;
      font-weight: 500;
      color: #333;
    }
  }

  &__image {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;

    img {
      height: 350px;
      max-width: 100%;
      border-radius: 16px;
    }
  }

  // Адаптив
  @media (max-width: 1399px) {
    flex-direction: column;

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      order: 1;
    }

    &__image {
      order: 2;
      margin-top: 20px;
    }
  }

  @media (max-width: 400px) {
    &__grid {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 1400px) {
    &__image img {
      display: none;
    }
  }
}
